language: r
cache: packages

addons:
  apt:
    packages:
    - libxml2-dev
    - default-jdk

before_install:
  - Rscript -e 'install.packages("RcppCWB")'
  - Rscript -e 'install.packages("devtools")'
  - Rscript -e 'install.packages("webshot")'
  - Rscript -e 'devtools::install_github("PolMine/polmineR", ref = "dev")'


r_packages:
  - devtools
  - plyr
  - tm
  - tidytext
  - covr
  - rmarkdown
  - htmlwidgets
  - RcppCWB
  - methods
  - crosstalk
  - knitr
  - janeaustenr
  - tokenizers
  - data.table
  - DT
  - magrittr

r_github_packages:
  - r-lib/covr

warnings_are_errors: true

notifications:
  email:
  on_success: change
  on_failure: change

after_success:
  - Rscript -e 'covr::codecov(type = "all", token = "36cf23e7-4231-4329-b680-f052fece17dc")'
